@import "../../../assets/media";
@import "../../../assets/mixin";
@import "../../../assets/variables";

.hoistingSection {
  padding: 4rem 0;
  .hoistingWrap {
    @include titleWrap;
    p {
      @include titleWrapPara;
    }
  }

  .headingSection {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 12px;
    height: 100%;

    .cardBackground1 {
      background-color: $bannerCard-background;
      border-radius: 1.5rem;
      padding: 2rem 2rem 0 2rem;
      h3 {
        font-size: 2.2rem;
        color: $main-title;
        font-weight: $Bold-700;
      }
    }

    .cardBackground2 {
      background-color: $background-color;
      border-radius: 1.5rem;
      display: flex;
      .content {
        padding: 2rem;
        h3 {
          font-size: 2.2rem;
          color: $main-title;
          font-weight: $Bold-700;
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.4rem;
          color: $para-text;
          margin-top: 2rem;
        }
      }
    }
  }

  .cardBackground3 {
    background-color: $background-color;
    border-radius: 1.5rem;
    padding: 2rem;
    .content {
      h3 {
        font-size: 2.2rem;
        color: $main-title;
        font-weight: $Bold-700;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.4rem;
        color: $para-text;
        margin-top: 2rem;
      }
    }
    .ratingContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .ratingStar {
        display: flex;
        justify-content: center;
        h1 {
          color: $orange-color;
          font-weight: $Black-900;
          font-size: 4.9rem;
        }
        img {
          margin-bottom: 3rem;
          margin-left: 0.5rem;
        }
      }
      .para2 {
        p {
          font-size: 1.4rem;
          color: $para-text;
        }
      }
      .avatarContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
      }
      .avatar-container-item {
        background: #999999;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        margin-left: -10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .cardBackground4 {
    background-color: $bannerCard-background;
    border-radius: 1.5rem;
    padding: 2rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 2.2rem;
      color: $main-title;
      font-weight: $Bold-700;
    }
    p {
      font-size: 1.4rem;
      color: $para-text;
      margin-top: 1rem;
    }
    img {
      margin-top: -2rem;
    }
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 5;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .div4 {
    grid-area: 2 / 3 / 3 / 5;
  }
}
