@import "../../../assets/mixin";
@import "../../../assets/variables";
@import "../../../assets/media";

.WordpressHostingCardhead {
    font-size: 18px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem!important;
}

.bannersection4Mainheaders {
    width: 300px;
    height: 47px;
    background-color: #FFE3CF;
    color: #FF6A00;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-weight: 900;
    margin: 0 auto;
}


.bannersection4Mainheaders2 {
    padding: 20px 20px 2px 20px;
}

.managedwordpressboxmain {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #FFECDF;
    @include tablet-land{
        display: block;
    }
}

.bannersection4Mainheaders2 h2 {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: #123455;
    font-weight: 700;
}

.managedwordpressbox1 {
    height: auto;
    background-color: #c75300d7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.managedwordpressbox2head {
    margin: 25px;
    font-size: 20px;
    font-weight: 800;
}

.managedwordpressbox2para p {
    font-size: 18px;
    margin: 8px 23px;

    @include tablet-land {
        font-size: 17px;
    }
}

.managedwordpressbox2correcticon {
    display: flex;
    gap: 10px;
    font-size: 18px;
    padding: 12px;

    @include tablet-land {
        font-size: 17px;
    }
}

.managedwordpressbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet-land{
        width:100%;
    }

    @include mobile {
        width: 100%;
    }
}

.managedwordpressbox1img {
    padding-top: 10px;

    @include d-desktop {
        width: 100%;
    }

    @include tablet-land {
        height: 600px;
    }
}

.bannersection5Mainheaders {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: gray;
}

.section5rotatecertificatemain {
    gap: 10px;
}

// rotate certificate 
.section5rotatecertificate {
    width: auto;
    padding: 5px 10px;
    border: 1px solid rgba(255, 166, 0, 0.596);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    color: #123455;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headparasection6 {
    width: 400px;
    font-size: 30px;
    color: #123455;
    font-weight: bold;

    @include tablet-land {
        font-size: 24px;
    }
    @include mobile{
        text-align:center;
    }

    @include xssm-mobile {
        width: 100%;
        text-align:center;
    }
}

.headpara2section6 {
    width: 452px;
    font-size: 18px;
    color: #707070;

    @include tablet-land {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}

.headiconparasection6 {
    display: flex;
    align-items: baseline;
    padding: 6px;
    gap: 10px;
}

.headiconpara1section6 {
    width: 546px;
    font-size: 18px;
    color: #707070;

    @include d-desktop {
        width: 100%;
    }
}

.headiconbutton1section6 {
    width: 135px;
    display: flex;
    background-color: #FF6A00;
    height: 41px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    margin: 10px 4px;
}

.headiconimage1section6 {
    width: 50%;
    height: 382px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    align-items: center;

    @include tablet-land {
        width:100%;
        height: 100%;
    }

    @include mobile {
        width: 100%;
        height: auto;
    }
}

.headiconimage1section6 img {
    width: 500px;

    @include tablet-land {
        width:100%;
        height: 426px;
    }

    @include mobile {
        width: 100%;
    }
}

.section5rotatecertificatemain {
    display: flex;
}

.section5rotatecertificate {
    text-align: center;
    margin: 4px;
}

.blurleftsideimg {
    position: relative;
}

.blurleftsideimgmain {
    position: absolute;
    width: 251px;
    height: 200px;
    top: -100px;
    z-index: 11;
    left: 2px;
    @include mobile {
        position: absolute;
        width: 183px;
        height: 93px;
        top: 4px;
    }
}

.blurleftsideimgmainright {
    position: absolute;
    width: 251px;
    height: 200px;
    top: -100px;
    z-index: 11;
    right: 2px;
    @include mobile{
        position:absolute;
        width:183px;
        height:93px;
        top: 4px;
    }
}