.WordpressHostingCardhead {
    font-size: 18px;
    text-align: center;
    margin: 30px !important;
}

.bannersection4Mainheaders {
    width: 300px;
    height: 60px;
    background-color: #FFE3CF;
    color: #FF6A00;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
    margin: 0 auto;
}

.bannersection4Mainheaders2 {
    padding: 20px 20px 2px 20px;
}

.managedwordpressboxmain {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #FFECDF;
}

.bannersection4Mainheaders2 h2 {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: #123455;
    font-weight: 700;
}

.managedwordpressbox1 {
    width: 50%;
    height: 400px;
    background-color: #c75300d7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.managedwordpressbox2head {
    margin: 25px;
    font-size: 20px;
    font-weight: 800;
}

.managedwordpressbox2para p {
    font-size: 16px;
    margin: 8px 23px;
}

.managedwordpressbox2correcticon {
    display: flex;
    gap: 10px;
    font-size: 16px;
    padding: 12px;
}

.managedwordpressbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.managedwordpressbox1img {
    padding-top: 10px;
}

.bannersection5Mainheaders {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: gray;
}

.section5rotatecertificatemain {
    gap: 10px;
}

// rotate certificate 
.section5rotatecertificate {
    width: auto;
    padding: 5px 10px;
    border: 1px solid rgba(255, 166, 0, 0.596);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    color: #123455;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headparasection6 {
    width: 400px;
    font-size: 30px;
    color: #123455;
    font-weight: bold;
}

.headpara2section6 {
    width: 452px;
    font-size: 18px;
    color: #707070;
}

.headiconparasection6 {
    display: flex;
    align-items:baseline;
    padding:6px;
    gap: 10px;
}

.headiconpara1section6 {
    width: 546px;
    font-size: 18px;
    color: #707070;
}