@import "../../../assets/media";
@import "../../../assets/mixin";
@import "../../../assets/variables";

.backgroundImage {
  background-image: url(../../../../public/images/popularApps/popularApps.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 53rem;
  padding: 4rem 0;

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    h3 {
      @include sectionTitle;
      color: #000000;
    }
    p {
        font-size: 1.8rem;
        font-weight: $Regular-400;
        color: #5F5F5F;
        text-align: center;
        margin: auto;
        width: 62%;
    }
  }
}
