@import "../../../assets/media";
@import "../../../assets/mixin";
@import "../../../assets/variables";

.orgSection {
  @include paddingY;
  .midText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: $Medium-500;
    color: $main-title;
    line-height: 0;
    @include xssm-mobile{
      font-size:20px;
    }
    @include xss-mobile{
      font-size:16px;
    }
    span {
      img {
        margin-right: 0.5rem;
      }
      &.boldText {
        font-weight: $Bold-700;
        padding-left: 0.8rem !important;
      }
    }
  }
  .excelenceWrap {
    text-align: center;
    margin-top: 2rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      @include x-tablet {
        flex-direction: column;
        gap: 1.5rem;
      }
      li {
        font-size: 2rem;
        color: $sub-title;
        padding: 0 2rem !important;
        &:nth-child(2) {
          border-left: 0.2rem solid #ccc;
          border-right: 0.2rem solid #ccc;
          @include x-tablet {
            border: none;
          }
        }
        span {
          &.boldTextSpan {
            font-weight: $Bold-700;
          }
          &.colorBoldText {
            color: $orange-color;
            padding-right: 0.5rem !important;
          }
          img {
            margin: 0 0.5rem;
          }
        }
        a {
          color: $sub-title;
          line-height: 0;
          @include tablet-land{
            line-height:1.4;
          }
          @include mobile{
            line-height:28px;
          }
          display: block;
          img {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
