@import "../../../assets/media";
@import "../../../assets/mixin";
@import "../../../assets/variables";

.backgroundWrap {
  @include paddingY;
  .backgroundColor {
    background-color: $background-color;
    padding: 3rem 0;
    .heading {
      @include titleWrap;
      p {
        @include titleWrapPara;
      }
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
  }
}
