@import "../assets/variables";
@import "../assets/media";

@mixin paddingY {
  padding: 4rem 0;
  @include tablet-land{
    padding: 0 0;
  }
}

@mixin commonBorder {
  border: 0.2rem solid $orange-color;
}

@mixin btns {
  height: 5rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  font-size: 1.7rem;
  font-weight: $SemiBold-600;
  text-transform: capitalize;
  line-height: 0;
  @include d-desktop {
    font-size: 1.5rem;
    height: 4rem;
  }
}
@mixin solidBtn {
  background-color: $orange-color;
  color: $white-color;
  gap: 0.5rem;
  &:hover {
    color: $orange-color;
    background-color: $white-color;
  }
}
@mixin transparentBtns {
  background-color: transparent;
  color: $orange-color;
  gap: 0.5rem;
  &:hover {
    background-color: $orange-color;
    color: $white-color;
  }
}

@mixin sectionTitle {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: $Bold-700;
  color: $main-title;
  text-align: center;
  @include mid-991-tab {
    font-size: 2.5rem;
  }
  @include xssm-mobile {
    font-size: 2rem;
  }
}

@mixin paraText {
  font-size: 1.8rem;
  font-weight: $Medium-500;
  color: $para-text;
  text-align: center;
  margin-top: 1rem;
  @include x-767-tablet {
    font-size: 1.6rem;
  }
}

@mixin titleWrap {
    background-color: $light-orange-color;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin: auto;
    @include xssm-mobile {
      font-size: 1.2rem;
    }
}

@mixin titleWrapPara {
    font-size: 1.6rem;
    font-weight: $SemiBold-600;
    color: $orange-color;
}

@mixin extraDivWrap {
  content: "Most Frequently Chosen Package";
  height: 6rem;
  width: 101%;
  background-color: #ff6a00;
  position: absolute;
  top: -50px;
  left: -2px;
  z-index: -1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-image: url("/images/card/extraDiv.svg");
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: 4rem center;
  padding-left: 7.5rem;
}
