@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");
@import "../assets/variables";
@import "../assets/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family-base !important;
  font-optical-sizing: auto;
  font-style: normal;
}

ul,
ol {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

ul li,
ol li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

button {
  border: 0 !important;
  background-color: transparent !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

p,
span,
strong,
b,
a,
li,
input {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.sectionTitle {
  @include sectionTitle;
}

.commonPara {
  @include paraText;
}

.midClass {
  .slick-container {
    .slick-slider {
      .slick-list {
        .slick-track {
          padding-top: 5rem;
          .slick-slide {
            &:nth-child(2) {
              h5 {
                margin-top: 1.5rem;
              }
              a {
                background-color: #ff6a00;
                color: #fff;
                &:hover {
                  background-color: #df5d00;
                  border-color: #df5d00;
                }
              }
            }
            .wordpressExtraDiv {
              &::before {
                content: "";
                @include extraDivWrap;
              }
            }
            .linuxExtraDiv {
              &::before {
                content: "";
                @include extraDivWrap;
              }
            }
            .windowsExtraDiv {
              &::before {
                content: "";
                @include extraDivWrap;
              }
            }
            .virtualExtraDiv {
              &::before {
                content: "";
                @include extraDivWrap;
              }
            }
            .businessExtraDiv {
              &::before {
                content: "";
                @include extraDivWrap;
              }
            }
          }
        }
      }
    }
  }
}
